@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('./assets/fonts/Roboto-Black.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('./assets/fonts/Roboto-Bold.ttf') format('ttf');
}


@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM TAILWIND CONFIGURATION */
.font-sans {
  font-family: 'Roboto', sans-serif;
}